<div class="container-card" *ngIf="user">
    <mat-card class="card">
        <div>
            <mat-card-title> {{ user.name }} </mat-card-title>
            <mat-card-subtitle> {{ user.type | userType}} </mat-card-subtitle>
        </div>
        <div class="card-info">
            <p class="info"><b>CPF</b></p>
            <p> {{ user.cpf | cpf }} </p>

            <p class="info"><b>E-mail</b></p>
            <p> {{ user.email }} </p>

            <p class="info"><b>Contato</b></p>
            <p *ngIf="user.tel"> {{ user.tel | celular }} </p>
        </div>
        <button mat-raised-button>Editar</button>
    </mat-card>
</div>