.container-card {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.card {
    width: 190px;
    display: flex;
    flex-direction: column;
}

.card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}